<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>https://www.bilibili.com/</string>
		<key>image</key>
		<string>logo2</string>
		<key>name</key>
		<string>Dear-迪丽热巴</string>
		<key>date</key>
		<string>2022-04-25</string>
	</dict>
	<dict>
		<key>url</key>
		<string>https://www.baidu.com/</string>
		<key>image</key>
		<string>logo2</string>
		<key>name</key>
		<string>牛马</string>
		<key>date</key>
		<string>前路未定，你我皆是牛马</string>
	</dict>
</array>
</plist>
